<a href="#maincontent" class="skip-link">Skip to main content</a>
<header>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-md-2 d-none d-lg-block">
                <a href="/" class="block-link">
                    <img src="/image/Group 4790.svg" alt="Homepage" class="img-fluid">
                </a>

            </div>
            <div class="col-lg-8 col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand d-block d-lg-none" href="/">
                            <img src="/image/logo.png" alt="PyCon India 2024" class="img-fluid">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto align-items-center mb-2 mb-lg-0">
                                {% for item in mainnav %}
                                    {% if item.type == 'dropdown' %}
                                        <li class="nav-item dropdown">
                                            <button class="nav-link dropdown-toggle" id="navbarDropdown"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                {{ item.name }}
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                {% for innerItem in item.innerLinks %}
                                                    {% if innerItem.link != '' %}
                                                    <li><a class="dropdown-item" href="{{ innerItem.link }}">{{ innerItem.name }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a
                                                class="nav-link"
                                                {% if item.url == page.url %}aria-current="page"{% endif %}
                                                href="{{ item.link }}"
                                            >{{ item.name }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<script>
    // Get the current page URL
    var currentUrl = window.location.pathname;

    // Get all navigation links
    var navLinks = document.querySelectorAll('.navbar-nav .nav-link');

    // Loop through each nav link
    navLinks.forEach(function (link) {
        // Check if the href of the link matches the current URL
        if (link.getAttribute('href') === currentUrl) {
            // Add the "active" class to the matching link
            link.classList.add('active');
        }
    });
</script>
