<section class="schedule pb-0 pb-md-5 pt-2" id="schedule"></section>
  <div class="container pt-5">
    <div class="row pt-5 pb-5 justify-content-center">
      <div class="col-md-12">
        <h2
          class="title-1 text-center mb-5"
          data-aos="fade-up"
          data-aos-duration="1000">Schedule</h2>
        <div class="tab-box">
          <ul
            class="nav nav-pills mb-3"
            id="pills-tab"
            role="tablist">
            {% for day in schedule %}
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link {% if day.id == 'sep21' %}active{% endif %}"
                  id="pills-{{ day.id }}-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-{{ day.id }}"
                  type="button"
                  role="tab"
                  aria-controls="pills-{{ day.id }}"
                  aria-selected="{% if day.id == 'sep21' %}true{% else %}false{% endif %}">
                  <h3>{{ day.title | upcase }}</h3>
                  <p class="tpb-para">{{ day.description }}</p>
                </button>
              </li>
            {% endfor %}
          </ul>
          <div class="tab-content" id="pills-tabContent">
            {% for day in schedule %}
              <div
                class="tab-pane fade {% if day.id == 'sep21' %}show active{% endif %}"
                id="pills-{{ day.id }}"
                role="tabpanel"
                aria-labelledby="pills-{{ day.id }}-tab">
                <!-- Schedule Table for the Day -->
                <div class="tab-con pt-5 mt-3">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="text-center">
                        <th scope="col">TIME</th>
                        <th scope="col">Track 1</th>
                        <th scope="col">Track 2</th>
                        <th scope="col">Track 3</th>
                        <th scope="col">Open Space</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% assign eventType = day.type %}
                      {% for session in day.schedule %}
                        <tr>
                          <th scope="row">{{ session.start_time }} - {{ session.end_time }}</th>
                          {% if session.tracks.length == 1 %}
                            <td colspan="3">{{ session.tracks[0].title }}</td>
                          {% else %}
                            {% for track in session.tracks %}
                              {% if eventType == "workshop" %}
                                <td>{{ track.title.session }}</td>
                                {% else %}
                                {% if track.link %}
                                <td>
                                  <a href={{ track.link }} title="{{track.link}}" target="_blank" rel="noopener noreferrer"> 
                                    {{ track.title }}
                                  </a>
                                  </td>
                                {% else %}
                                <td>
                                    {{ track.title }}
                                  </td>
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>