<section class="speaker-page pb-0 pb-md-4 pt-md-4" id="speakers">
    <div class="container pt-4 mt-2">
        <div class="speaker p-4">
            <div class="speaker-photo">
                <img class="shadow-sm rounded" src="/image/speakers/{{ speaker.name | slugify}}.jpg"
                    onerror="this.onerror=null;this.src='/image/Group%204790.svg';this.style.objectFit='contain';" width="480" alt="{{ speaker.name }}" />
            </div>
            <div class="speaker-details">
                <h1 class="speakerheading title-3 mb-2">{{speaker.name}}</h1>
                <h4 class="fs-5 mt-2 mb-2 text-muted">{{speaker.tagline}}</h4>
                <p class="fs-5 pt-4 text-start mb-2 mt-2 fw-bold">About</p>
                <p class="fs-4 lead ">
                    {{speaker.bio}}
                </p>
                <h5 class="fs-3 mt-2 pt-2 text-start p-8"><span
                        class="p-4 badge bg-warning text-dark text-wrap lh-base">{{speaker.talkTitle}}</span></h5>

            </div>
        </div>
    </div>
    </div>
</section>