<section class="speaker-page pb-0 pb-md-4 pt-md-4" id="speakers">
    <div class="container pt-4 mt-2">
        <div class="speaker p-4">
            <div class="speaker-photo">
                <img class="shadow-sm rounded" src="/image/speakers/{{ speaker.name | slugify}}.jpg"
                    onerror="this.onerror=null;this.src='/image/Group%204790.svg';this.style.objectFit='contain';" width="480" alt="{{ speaker.name }}" />
            </div>
            <div class="speaker-details">
                <h1 class="speakerheading title-3 mb-2">{{speaker.name}}</h1>
                <p class="h4 fs-5 mt-2 mb-2 text-muted">{{speaker.tagline}}</p>
                <div class="speaker-socials mt-4">
                {% for social in speaker.socials %}
                    <a href="{{social[1]}}"
                    class="text-decoration-none text-reset d-inline-block me-3"
                    target="_blank"
                    rel="noopener noreffer"
                    title="social link for {{social[0]}} - {{social[1]}}">
                        <span class="">
                            {% if social[0] != "other" %}
                                <i class="fa-brands fa-{{social[0]}} fs-2"></i>
                            {% comment %} {% else %}
                                <i class="fa fa-link fs-2"></i> {% endcomment %}
                            {% endif %}
                        </span>
                    </a>
                {% endfor %}
                </div>
                <p class="fs-5 pt-2 text-start mb-2 mt-2 fw-bold">About</p>
                <p class="fs-4 lead ">
                    {{speaker.bio}}
                </p>
                <div class="h5 fs-3 mt-2 pt-2 text-start p-8"><span
                        class="p-4 badge bg-warning text-dark text-wrap lh-base">{{speaker.talkTitle}}</span></div>

            </div>
        </div>
    </div>
    </div>
</section>
