<!-- event sponsors -->
<section id="sponsors">
    <div class="container">
        <div class="row align-items-center justify-content-center download pt-5 pb-5">
            <div class="col-md-12">
                <h2 class="title-2 text-center pt-md-3 pb-md-5" data-aos="fade-up" data-aos-duration="1000">Event
                    Sponsors</h2>
            </div>
            <div class="col d-none d-lg-block"></div>
            <div class="col-lg-7 col-md-8 pe-lg-5 me-lg-5 text-center text-lg-start">
                <p>PyCon India is completely driven by volunteers. Sponsoring the event helps to sustain and grow the
                    conference as well as the Community. Sponsor help in making the conference affordable, and
                    maintaining the inventory for the conference.</p>
            </div>
            <div class="col-lg-4 col-md-4 mt-3 mt-lg-0 text-center text-lg-start">
                <div class="ticket-btnlay"><a href="#">DOWNLOAD PROSPECTUS</a></div>
            </div>
        </div>
    </div>
</section>

{% for category in sponsors %}
<section class="pt-5">
    <div class="sponsor-title">{{ category[0] | upcase }}</div>
    <div class="container-fluid sponsor"></div>
    {% if category[0] == "other sponsor" %}
    <div class="container">
        <div class="row justify-content-center">
            {% for sponsor in category[1] %}
            <div class="col-md-4 pt-5 pb-md-5 mt-md-3 mb-md-5">
                <div class="op">
                    <p>{{ sponsor.name }}</p>
                </div>
                <div class="other-sponsor">
                    <div class="brand-spon p-5 text-center">
                        <img src="/image/{{ sponsor.image }}" alt="{{ sponsor.name }}" class="img-fluid">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="container sponp">
        <div class="row justify-content-center text-center">
            {% for sponsor in category[1] %}
            <div class="col-md-3 sponsor-img-box pt-5 pb-md-5 mt-md-3 mb-md-5">
                <a href="{{ sponsor.url }}">
                    <img src="/image/{{ sponsor.image }}" alt="{{ sponsor.name }}" class="img-fluid">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</section>
{% endfor %}