<!-- team -->
<section class="team" id="team">
    <div class="container">
        <div class="row align-items-center p-2 p-md-0">
            <div class="col-md-12 pt-5 pt-md-0 pb-5">
                <h2 class="title-2 text-center pb-5" data-aos="fade-up" data-aos-duration="1000">The Team</h2>
            </div>
            <div class="row">
            {% for member in team %}
                {% comment %} <div class="team-card">
                    <img src="{{ member.image }}" alt="{{ member.name }}">
                    <h2>{{ member.name }}</h2>
                    <ul>
                        {% if member.x.length > 0 %}<li><a href="{{ member.x }}"><i class="fa fa-brands fa-x-twitter"></i></a></li>{% endif %}
                        {% if member.linkedin.length > 0 %}<li><a href="{{ member.linkedin }}"><i class="fa fa-brands fa-linkedin-in"></i></a></li>{% endif %}
                        {% if member.mastodon.length > 0 %}<li><a href="{{ member.mastodon }}"><i class="fa fa-brands fa-mastodon"></i></a></li>{% endif %}
                        {% if member.instagram.length > 0 %}<li><a href="{{ member.instagram }}"><i class="fa fa-brands fa-instagram"></i></a></li>{% endif %}
                        {% if member.website.length > 0 %}<li><a href="{{ member.website }}"><i class="fa fa-solid fa-globe"></i></a></li>{% endif %}
                    </ul>
                </div> {% endcomment %}
                <div class="column">
                    <div class="card">
                        <div class="img-container">
                        <img src="{{ member.image }}" alt="{{ member.name }}" />
                        </div>
                        <h3>{{ member.name }}</h3>
                        <p>Founder</p>
                        <div class="icons">
                            {% if member.x.length > 0 %}<a href="{{ member.x }}"><i class="fa fa-brands fa-x-twitter"></i></a>{% endif %}
                            {% if member.linkedin.length > 0 %}<a href="{{ member.linkedin }}"><i class="fa fa-brands fa-linkedin-in"></i></a>{% endif %}
                            {% if member.mastodon.length > 0 %}<a href="{{ member.mastodon }}"><i class="fa fa-brands fa-mastodon"></i></a>{% endif %}
                            {% if member.instagram.length > 0 %}<a href="{{ member.instagram }}"><i class="fa fa-brands fa-instagram"></i></a></li>{% endif %}
                            {% if member.website.length > 0 %}<a href="{{ member.website }}"><i class="fa fa-solid fa-globe"></i></a>{% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {% comment %} <div class="row justify-content-center pt-5 pb-5 mt-md-5">
            <div class="col-lg-3  col-md-5 col-12 mb-5 mb-md-0 text-center text-md">
                <div class="ticket-btnlay"><a href="#">BECAME A PARTNER</a> </div>
            </div>
            <div class="col-lg-3 col-md-5 col-12 mb-5 mb-md-0 text-center text-md">
                <div class="ticket-btnlay"><a href="#">BECOME PROSPECTUS</a></div>
            </div>
        </div> {% endcomment %}
    </div>
</section>
