---
layout: content.liquid
---

<section class="container pt-md-4 pb-md-2" id="job-board">
  <h1 class="text-center h1">Job Board</h1>
  <p class="text-center fs-5 py-2">Submit your job posting <a href="https://forms.gle/tmZW88X944kDokwR9"> here </a></p>
  <ul class="jobs-container" role="list">
  {% if jobs.length > 0 %}
    {% for job in jobs %}
      <li class="col-12 d-flex mb-lg-0 mb-4 mt-4 p-2" role="listitem">
        <div class="jobcard card shadow p-4 rounded-md">
          <div class="d-flex flex-column">
              <h2 class="text-dark">{{job.jobTitle}}</h2>
          </div>

          <div class="d-flex flex-column">
            <a href="{{job.companyWebsite}}" class="talk-link">
              <h2 class="h5">{{job.companyName}}</h2>
            </a>
          </div>
          <div class="d-flex flex-column">
            <p class="yellow-text">
              <span>{{job.jobType}}</span>
              •
              <span>{{job.jobLocation}}</span>
            </p>
          </div>
          <p class="jobCard__description" style="text-align:left;">
              {{job.jobDescription | truncate: 480}}
          </p>

          <div class="jobcard__links">
            <a href="{{job.jobApplicationLink}}" target="_blank" class="
                pycon-primary
                white-hovertext
                text-decoration-none
                fw-bold
              ">Apply &nbsp;<i class="fas fa-arrow-circle-right"></i></a>
            &nbsp; &nbsp; &nbsp;
            {% comment %} <a href="mailto: {{job.email}}" class="
                pycon-primary
                white-hovertext
                text-decoration-none
                fw-bold
              ">Email &nbsp;<i class="fas fa-envelope"></i></a> {% endcomment %}
          </div>
        </div>
      </li>
    {% endfor %} 
  {% else %}
    <div class="fallback h-60" style="height:50vh;">
    <p class="text-center">No jobs at the moment, come back and check in a few hours...</p>
    </div>
  {% endif %}
  </div>
</section>
